.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.todolist {
    border: 1px solid red;
    padding: 20px;
    background-color: #f3e678;
    border-radius: 10px;

}

.task {
    font-weight: bold;
}

.task-done {
    text-decoration: line-through;
    opacity: 0.5;
}

.btn-filter-active {
    background-color: rgba(182, 34, 227, 0.37);
    border: 2px solid rgb(12, 11, 11);
    border-radius: 3px;
    font-weight: bold;
}

.btn-filter {
    font-weight: bold;
}

.btn-filter-block {
    display: flex;
    gap: 6px;
}

.task-input-error {
    border: 2px solid red;
    outline: none;
}

.hide-todolist {
    font-weight: bold;
    color: #0c1cd3;
}